.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle-wrapper.jar
gradle-wrapper.properties
gradle.properties
gradle.xml
gradlew
gradlew.bat
misc.xml
proguard-rules.pro